@import "../../global/style";

.listBooks {
  margin: 30px 0;
  .book {
    width: 275px;
    margin: 0 8px 30px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    &:hover {
      box-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
    }
    .listImage {
      height: 270px;
      width: 210px;
      margin: 5px auto 0;
    }
    .bookCard {
      padding: 10px;
      .bookAuthor {
        margin: 6px 0;
        font-style: italic;
      }
      .book-btn {
        margin-top: 10px;
      }
      .rating-area {
        label {
          font-size: 25px;
          color: lightgrey;
          text-shadow: 1px 1px #bbb;
          &:before {
            content: "★";
          }
        }
        .active-label {
          color: $yellow-color;
        }
      }
    }
  }
}
@media only screen and (max-width: 1210px) {
  .listBooks {
    justify-content: space-evenly;
  }
}
