@import "../../global/style";

.description{
  text-align: left;
  &__size{
    &_s{
      font-size: 12px;
    }
    &_m{
      font-size: 16px;
    }
    &_l{
      font-size: 22px;
    }
  }
  &__weight{
    &_500{
      font-weight: 500;
    }
    &_600{
      font-weight: 600;
    }
    &_900{
      font-weight: 900;
    }
  }
  &__color{
    &_default{
      color: $black-color;
    }
    &_grey{
      color: $light-grey;
    }
    &_white{
      color: $white;
    }
    &_dark{
      color: $dark-blue;
    }
    &_yellow {
      color: $yellow-color
    }
  }
  &__position{
    &_left{
      text-align: left;
    }
    &_center{
      text-align: center;
    }
    &_right{
      text-align: right;
    }
  }
}