@import "../../global/color";
@import "../../global/variables";

.slide {
  position: relative;
  .slide_arrows {
    position: absolute;
    z-index: 50;
    margin: 0 30px;
    border: solid $dark-color;
    border-width: 0 4px 4px 0;
    padding: 15px;
    cursor: pointer;
    @media (max-width: $md2) {
      padding: 13px;
    }
    @media (max-width: $md3) {
      padding: 10px;
      margin: 0 10px;
    }
    &[data-direct="prev"] {
      left: 0;
      transform: rotate(135deg);
      &:hover {
        border: solid $yellow-color;
        border-width: 0 4px 4px 0;
        transition: 0.5s ease-out;
      }
    }
    &[data-direct="next"] {
      right: 0;
      transform: rotate(-45deg);
      &:hover {
        border: solid $yellow-color;
        border-width: 0 4px 4px 0;
        transition: 0.5s ease-out;
      }
    }
  }
  .slide_content {
    position: absolute;
    background-color: rgba(14, 14, 14, 0.6);
    border-radius: 20px;
    margin: 0 10%;
    padding: 20px 40px;
    line-height: 2;
    @media (max-width: $md1+200px) {
      padding: 20px 30px;
      line-height: 1.6;
      p {
        font-size: 20px;
        line-height: 1.5;
      }
    }
    @media (max-width: $md1) {
      p {
        font-size: 18px;
        line-height: 1.5;
      }
    }
    @media (max-width: $md2) {
      border-radius: 10px;
      p {
        font-size: 17px;
        line-height: 1.2;
      }
    }
    @media (max-width: $md3) {
      padding: 10px;
      p {
        font-size: 15px;
        line-height: 1.2;
      }
    }
  }
  .dots {
    position: absolute;
    bottom: 15px;
    left: 0;
    right: 0;
    z-index: 10;
    span {
      width: 12px;
      height: 12px;
      margin: 0 5px;
      border-radius: 100%;
      background-color: $light-grey;
      cursor: pointer;
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.02);
      border: 1px solid rgba(0, 0, 0, 0.15);
      transition: all 0.15s;
      @media (max-width: $md3) {
        width: 10px;
        height: 10px;
        margin: 0 8px;
      }
    }
  }
  &__size {
    &_s {
      width: 300px;
      height: 100px;
    }
    &_m {
      width: 700px;
      height: 300px;
    }
    &_l {
      width: 1000px;
      height: 500px;
    }
    &_allWidth {
      width: 100%;
      height: 450px;
      @media (max-width: $md1) {
        height: 350px;
      }
      @media (max-width: $md2) {
        height: 250px;
      }
      @media (max-width: $md3) {
        height: 250px;
      }
    }
  }
  @media (max-width: $md1) {
    .arrows {
      padding: 10px;
      margin: 0 10px;
    }
  }
}
