@import "../../global/style";

.shop_emblem{
  position: relative;
  p{
    position: absolute;
    bottom: -5px;
    left: 35px;
  }
  &:hover{
    cursor: pointer;
  }
}
.shop_basket_section{
  width: 100%;
}
.shopCart_footer{
  margin-top: 20px;
}
.shopCart{
  border: 1px solid $light-grey;
  padding: 10px;
  min-height: 80px;
}
.cart_item{
  width: 100%;
  vertical-align: middle;
  border-collapse: separate;
  border-spacing: 0;
  thead{
       td{
         text-align: center;
         font-size: 12px;
       }
     }
  tbody {
    td {
      padding: 5px 0;
      border-top: 1px dotted #d7d7d7;
      &:first-child {
        border-left: 1px solid #d7d7d7;
        padding-left: 10px;
        width: 15%;
        img{
          width: 70px;
        }
      }
      &:not(:first-child){
        min-width: 100px;
        text-align: center;
      }
      &:last-child {
        border-right: 1px solid #d7d7d7;
        padding-right: 10px;
        min-width: 50px;
      }
    }
    tr:first-child td {
      border-top-style: solid;
      &:first-child {
        border-top-left-radius: 4px;
      }
      &:last-child {
        border-top-right-radius: 4px;
      }
    }
    tr:last-child td {
      border-bottom: 1px solid #d7d7d7;
    }
  }
  .basket_card_info{
    width: 250px;
    text-align: left !important;
    button{
      margin-bottom: 10px;
    }
  }
  .basket_cart_count button{
    margin: 10px;
    font-size: 20px;
    &:hover{
      color: $yellow-color;
    }
  }
}

@media only screen and (max-width: 700px) {
  .basket_card_info {
    width: 160px !important;
    button{
      font-size: 17px ;
    }
  }
  tbody td:not(:first-child){
    min-width: 50px !important;
    text-align: center;
  }
}