@import "../../global/style";

.button{
  border-radius: 5px;
  width: 100px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  border: none;
  outline: none;
  color: $dark-color;
  cursor: pointer;
  &__style {
    &_defaulte{
      background-color: $grey-color;
    }
    &_light{
      background-color: $light-color;
    }
  }
  &__size{
    &_s{
      width: 50px;
      height: 30px;
    }
    &_m{
      width: 130px;
      height: 55px;
    }
    &_l{
      width: 150px;
      height: 80px;
    }
  }
  &:disabled{
    background-color: $grey-color;
  }
  &:hover{
    opacity: .8;
    transition: .2s ease-in;
  }
  &:active {
    opacity: .9;
  }
}