@import "../../global/style";

.btn {
  line-height: 1.5715;
  position: relative;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  border: 1px solid #d9d9d9;
  box-shadow: 0 2px 0 rgba(0,0,0,.015);
  cursor: pointer;
  transition: all .3s cubic-bezier(.645,.045,.355,1);
  padding: 4px 15px;
  border-radius: 2px;
  color: rgba(0,0,0,.65);
  background-color: $white;
  &:hover,
  &:active,
  &:focus {
    color: $dark-blue;
    border-color: $dark-blue;
    outline: none;
  }
  &__size{
    &_s{
      width: 80px;
      height: 30px;
      font-size: 14px;
      padding: 2px 0;
      border-radius: 2px;
    }
    &_m{
      width: 100px;
      height: 35px;
      font-size: 16px;
      padding: 4px 12px;
      border-radius: 4px;
    }
    &_l{
      width: 130px;
      height: 45px;
      font-size: 22px;
      padding: 8px 0;
      border-radius: 5px;
    }
    &_all{
      width: 100%;
      max-width: 250px;
      height: 35px;
      font-size: 16px;
      padding: 4px 12px;
      border-radius: 4px;
    }
  }
  &__bStyle {
    &_default{
      background-color: $white;
    }
    &_main{
      color: $white;
      background-color: $light-blue;
      border-color: $light-blue;
      text-shadow: 0 -1px 0 rgba(0, 0, 0, .12);
      box-shadow: 0 2px 0 rgba(0, 0, 0, .045);
      &:hover,
      &:focus {
        color: $white;
        background-color: $dark-blue;
        border-color:  $dark-blue;
      }
    }
    &_none{
      width: inherit;
      height: inherit;
      border: 0;
      line-height: 1;
      padding: 0;
      box-shadow: none;
    }
    &_remove{
      width: inherit;
      height: inherit;
      border: 0;
      padding: 0;
      color: $red-color;
      box-shadow: none;
      &:hover{
        color: $light-blue
      }
    }
  }
  &:disabled{
    background-color: $grey-color;
  }
}