@import "../../global/style";

.header{
  background-color: #132439;
  min-height: 60px;
  padding: 20px 0;
  .logo{
    font-size: 40px;
    font-weight: 800;
    font-style: italic;
    text-decoration: none;
    a {
      text-decoration: none;
      color: $yellow-color;
    }
  }
  .nav-header {
    display: flex;
    li{
      list-style-type: none;
      margin: 0 15px;
    }
    a {
      text-decoration: none;
      color: $white-color;
      font-size: 30px;
      &:hover{
        color: $yellow-color;
        transition: .2s ease-out;
        transition-delay: 0.2s;
      }
    }
  }
  .comeIn{
    width: 100px;
    height: 50px;
    background-color: $light-color;
    font-size: 25px;
    color: $dark-color;
    border: none;
    border-radius: 6px;
    &:hover{
      background-color: $grey-color;
      color: $white-color;
      transition: .2s ease-out;
      transition-delay: 0.2s;
      cursor: pointer;
    }
  }
}