@import "../../global/color";
@import "../../global/variables";

.book_info {
  @media (max-width: $md2){
    flex-wrap: wrap;
  }
  .book_info_img {
    img {
      width: 300px;
      height: 420px;
      margin: 0 80px 15px 0;
      @media (max-width: $md1) {
        width: 250px;
        height: 330px;
        margin: 0 40px 15px 0;
      }
      @media (max-width: $md2) {
        width: 200px;
        height: 286px;;
      }
      @media (max-width: $md3) {
        width: 150px;
        height: 200px;
      }
    }
  }
  .book_info_extra {
    .book_info_btn_order{
      margin: 25px 0;
    }
    .book_info_item {
      .book_info_author span, .book_info_author p {
        margin-right: 50px;
        margin-bottom: 30px;
      }
      .title_line {
        margin-bottom: 20px;
        padding-bottom: 10px;
        border-bottom: 1px solid #d7d7d7;
      }
      .book_info_content {
        line-height: 1.7;
        text-align: justify;
        @media (max-width: $md3){
          line-height: 1.4;
          font-size: 12px;
        }
      }
    }
  }
}
.book_info_goBack {
  text-decoration: none;
  font-size: 25px;
  color: $dark-color;
  margin-top: 30px;
  &:hover {
    color: $yellow-color;
  }
  @media (max-width: $md2){
    margin-top: 10px;
    font-size: 18px;
    margin-bottom: 20px;
  }
}
