@import "../../global/style";

header{
  min-height: 60px;
  padding: 5px 0;
  border-bottom: 2.4px solid $dark-blue;
  .nav_header {
    display: flex;
    a {
      text-decoration: none;
      color: $dark-blue;
      font-size: 30px;
      margin: 0 15px;
      &:hover{
        color: $yellow-color;
        transition: .2s ease-out;
        transition-delay: 0.2s;
      }
    }
    .active{
      color: $yellow-color;
    }
  }
  .header_btn{
    display: flex;
    align-items: center;
    width: 140px;
    justify-content: space-between;
    img{
      width: 50px;
    }
  }
}




@media only screen
and (min-width : 900px) {
  input[type=checkbox]#toggle,
  label[for=toggle] {
    display: none;
  }
}
@media only screen
and (max-width : 900px) {
  input[type=checkbox]#toggle {
    position: absolute;
    color: red;
    z-index: -99999;
  }
  header a, header img, header p{
    display: none;
  }
  header{
    min-height: 40px;
    background-color: #000;
    transition: all .5s ease;
  }
  input[type=checkbox]#toggle:checked ~ .header, .nav_header, .nav__trigger {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    .nav_header a{
      display: block;
    }
    .header_btn img{
      display: block;
    }
  }

}



$bar-length: 28px;
$bar-thickness: 4px;
$nav-item-delay: 0.05s;
$nav-width: 3.75rem;
.bars {
  position: relative;
  margin: $bar-thickness*4;
  &,
  &:before,
  &:after {
    width: $bar-length;
    height: $bar-thickness;
    background-color: red;
    border-radius: $bar-thickness;
    transition: 0.2s ease-in-out;
  }
  &:before,
  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    will-change: transform;
  }
  &:before {
    transform: translateY(-($bar-thickness*2));
  }
  &:after {
    transform: translateY(($bar-thickness*2));
  }
}


