@import 'ui/Layout/style';
@import 'ui/Description/style';
@import 'ui/Button/style';
@import "./modules/Header/style";
@import "./widgets/Book/style";
@import 'pages/Books/style';
@import "./widgets/Filters/style";

@font-face {
  font-family: "Montserrat", sans-serif;
  src: url("./global/montserratbold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

.container{
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}