@import "../../global/style";

.modal{
  position: fixed;
  overflow: auto;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  background: rgba(0,0,0,.35);
  z-index: 999;
}
.modal_body{
  background-color: $white;
  margin-top: 100px;
  z-index: 1000;
  position: absolute;
  &__size {
    &_s {
      width: 380px;
      padding: 2px 0;
    }
    &_m {
      width: 700px;
      padding: 4px 0;
      @media only screen and (max-width: 750px) {
        width: 95%;
        margin-top: 20px;
      }
    }
  }
  .modal_header{
    padding: 10px 20px;
    border-bottom: 1px solid #f0f0f0;
  }
  .modal_close_icon{
    position: absolute;
    right: 20px;
    width: 24px;
    height: 18px;
    opacity: 0.3;
    cursor: pointer;
    top: 18px;
    &:hover {
      opacity: 1;
    }
    &:before, &:after {
      position: absolute;
      left: 10px;
      top: 0;
      content: ' ';
      height: 20px;
      width: 2px;
      background-color: $grey-color;
    }
    &:before {
      transform: rotate(45deg);
    }
    &:after {
      transform: rotate(-45deg);
    }
  }
  .modal_item{
    padding: 20px;
    form{width: 75%;}
  }
}

