@import "../../global/style";

.modal{
  position: fixed;
  bottom: 0;
  width: 100%;
  top: 0;
  background-color: rgba(0,0,0,.4);
}
.modal_body{
  position: fixed;
  top: 30%;
  min-width: 450px;
  z-index: 100;
  min-height: 240px;
  background-color: $white;
  transition: 3s;
  .modal_header{
    padding: 10px 20px;
    border-bottom: 1px solid #f0f0f0;
  }
  .modal_close_icon{
    position: absolute;
    right: 20px;
    width: 24px;
    height: 18px;
    opacity: 0.3;
    cursor: pointer;
    &:hover {
      opacity: 1;
    }
    &:before, &:after {
      position: absolute;
      left: 15px;
      content: ' ';
      height: 20px;
      width: 2px;
      background-color: $grey-color;
    }
    &:before {
      transform: rotate(45deg);
    }
    &:after {
      transform: rotate(-45deg);
    }
  }
  .modal_item{
    padding: 20px;
  }
}

